<div class='navIcons'>
  <a href='' class='glyphicon glyphicon-user' title='Account Settings'></a>

  <a href='/' class='glyphicon glyphicon-home' title='Home'></a>

  <a ng-controller='logOutController' href='' class='glyphicon glyphicon-log-out' ng-click='logOut()' title='Log Out'></a>

</div>

<h4> <span class='glyphicon glyphicon-envelope'></span></h4>

<div ng-if='isEmpty'>
  <blockquote>There doesn't seem go be anything here.</blockquote>
</div>


<div ng-repeat='message in messages' class='inboxView'>
  <blockquote> {{ message.message }} 
    <small>{{ message.from }}
      <!-- <time class='relative' datetime='{{ message.sent }}'>Sent a while ago</time> -->
      <a href='' ng-click='renderForm(message.from, message.toId, message.fromId)' class='glyphicon glyphicon-send' title='Reply'></a>
    </small>
  </blockquote>
  <hr>
</div>

<div class="container" ng-show='toggleForm'>

  <form role="form" style="width:400px; margin: 0 auto;" ng-submit='sendMsg()'>
      <legend>Send Message</legend>
      <small> To: {{ fullname }}</small>
      <div class="required-field-block">
          <textarea ng-model='msg' ng-click='clearForm()' rows="5" class="form-control" placeholder="Message"></textarea>
          <div class="required-icon">
          </div>
      </div>
      
      <button class="btn btn-default btn-sm" type='submit'>Send</button>
  </form>
</div>