<!DOCTYPE HTML>
<html ng-app='alumnio'>
  <head>
    <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css'/>  
    <link rel='stylesheet' href='../css/main.css'/>      
    <style>
      body {
        text-align: center;
      }
    </style> 
  </head>

  <body>
    <div ng-view>
      

    </div>    
    <footer> hackreactoralums <br>
      <p>[ 
      <a href='https://angularjs.org/'>angular.js</a>, 
      <a href='http://node.js'>node.js</a>, 
      <a href='http://expressjs.com'>express</a>, 
      <a href='http://mongoosejs.com'>mongoose</a> 
      ] <br>
      by <a href='http://www.donmamaril.io'>donmamaril.io</a>
      </p>

    </footer>

    <script src='bower_components/angular/angular.js'></script>
    <script src='bower_components/angular-route/angular-route.js'></script>
    <script src='js/app.js'></script>
  </body>
</html>