<link rel='stylesheet' href='../css/styles.css'/>

<div class="container">
    <div class="row">
        <div class="col-md-12">

        <!-- PASS RESET FEATURE
            <div class="pr-wrap">
                <div class="pass-reset">
                    <input type="email" placeholder="Email" />
                    <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" /> 
                </div>
            </div> -->
        
            <div class="wrap">
                <!-- <p class="form-title">Sign In</p> -->
                <form class="login" ng-submit='logInUser()'>
                <input type="text" ng-model='email' placeholder="e-mail" />
                <input type="password" ng-model='password' placeholder="Password" />
                <input type="submit" value="Sign In" class="btn btn-default btn-sm" />
                <small><a href='#signup'>Not yet registered?</a></small>

                <!-- handle remember me sessions
                <div class="remember-forgot">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" /> Remember Me</input>
                                </label>
                            </div>
                        </div> -->
                    

                        <!-- add forgot password feature
                        <div class="col-md-6 forgot-pass-content">
                            <a href="javascription:void(0)" class="forgot-pass">Forgot Password</a>
                        </div> -->
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
