<link rel='stylesheet' href='../css/main.css'/>

<div class='navIcons'>
  <a href='' class='glyphicon glyphicon-user' title='Account Settings'></a>

  <a href='#inbox' class='glyphicon glyphicon-envelope' title='Inbox'></a>

  <a ng-controller='logOutController' href='' class='glyphicon glyphicon-log-out' ng-click='logOut()' title='Log Out'></a>

</div>


<div class="container" ng-show='showForm'>

  <form role="form" style="width:400px; margin: 0 auto;" ng-submit='sendMsg()'>
      <legend>Send Message</legend>
      <small> To: {{ fullname }}</small>
      <div class="required-field-block">
          <textarea ng-model='msg' ng-click='clearForm()' rows="5" class="form-control" placeholder="Message"></textarea>
          <div class="required-icon">
          </div>
      </div>
      
      <button class="btn btn-default btn-sm" type='submit'>Send</button>
  </form>
</div>


<div class='mainView'>
  <div ng-repeat='user in users'>
    
  <div class='alumniWorksAt'></div>

    <div class='alumniView'
      ng-style="{'background-image':'url(../imgs/{{user.worksAt | lowercase }}.png)'}">

      <p> 
      {{ user.lastname | capitalize }}, {{ user.firstname | capitalize }} 
      <a href='' class='glyphicon glyphicon-send' ng-click='renderForm(user._id, user.firstname, user.lastname)' title='Send Message'></a>
      </p>
      <div><a ng-hide='{{user.site}}' href='http://{{user.site}}'>{{ user.site }}</a></div>
      <div><a href='http://www.{{user.linkedIn}}'>{{user.linkedIn}}</a></div>
      <hr>
      <hr style="width: 1px; height: 20px; display: inline;"> 
    </div>
  </div>
</div>
