<link rel='stylesheet' href='../css/styles.css'/>

<div class="container">
    <div class="row">
        <div class="col-md-12">
        <!-- PASS RESET
            <div class="pr-wrap">
                <div class="pass-reset">
                    <input type="email" placeholder="Email" />
                    <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
                </div>
            </div> -->

            <div class="wrap" ng-show='!step2'>
                <p class='form-title'></p>
                <p class="form-title" ng-if='firstname'>
                   <small> Welcome,</small>{{ firstname }} </p>
                <form class="login" ng-submit='step1Submit()'>
                    <input type="text" ng-model='email' placeholder="email" />
                    <input type="password" ng-model='password' placeholder="Password" />
                    <input type="text" ng-model='firstname' placeholder="forename" />
                    <input type="text" ng-model='lastname' placeholder="surname" />
                    <input type="submit" value="Next Step" class="btn btn-default btn-sm" />
                </form>
            </div>


            <div class="wrap" ng-show='step2'>
                <p class="form-title">
                   {{ firstname }}<small>, tell us a bit more about yourself</small> </p>
                <form class="login" ng-submit='signUpUser()'> <!-- future implementation -->
                <!-- <input type="text" ng-model='alumniOf' placeholder="Where did you graduate?" /> -->
                <input type="text" ng-model='cohort' placeholder="Which cohort were you in?" />
                <input type="text" ng-model='worksAt' placeholder="Where's your awesome job?" />
                <input type="text" ng-model='linkedIn' placeholder="LinkedIn" />
                <input type="text" ng-model='site' placeholder="Got a website?" />
                <input type="submit" value="Sign Up" class="btn btn-default btn-sm" />
                </form>
            </div>


        </div>
    </div>
</div>
